*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Verdana;
}

.box{
    position: sticky;
    width: 100%;
    background: #181b22;
}

.logo{
    color: #EAEAEA;
    font-size: 40px;
    padding: 0 6.5vw;
    line-height: 11vh;
    font-weight: bold;
}

.right-align-button{
    float: right;
    display: inline-flex;
    margin-right: 1vw;
    margin-top: 1vh;
}

.top-button{
    color: #EAEAEA;
    font-size: 40px;
    font-family: Verdana;
    display: inline-block;
    margin: 0 4vw;
    line-height: 80px;
    background-color: transparent;
    border-style: none;
}

.top-button.active,.top-button:hover{
    color: #FF2E63;
    transition: .5s;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 0.5vh;
  }
  
.search-icon {
    position: absolute;
    top: 50%;
    left: 1vw;
    transform: translateY(-50%);
    width: 1.5vw;
    height: 2vh;
    filter: invert(14%) sepia(29%) saturate(406%) hue-rotate(181deg) brightness(91%) contrast(93%);
}

.search-bar{
    border-color: transparent;
    outline: none;
    padding: 0.6vw;
    border-radius: 50px;
    background-color: #3c4454;
    padding-left: 3vw;
    color: #EAEAEA;
}

.search-bar:focus{
    transition: 0.5s;
    border-style: solid;
    border-color: #FF2E63;
}

.search-container:focus-within .search-icon {
    transition: 0.5s;
    filter: invert(99%) sepia(2%) saturate(166%) hue-rotate(160deg) brightness(118%) contrast(84%);
}
