.grids{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-left: 160px;
    margin-right: 200px;
    margin-top: 40px;
    grid-auto-rows: 350px;
    gap: 2rem;  
    color: #F4EEE0;
    font-size: 15px;
}

.anime-image{
    width: 200px;
    height: 260px;
    object-fit: cover;
    border-radius: 10px;
    opacity: 80%;
    position: relative;
    transition: transform 0.2s;
    margin-bottom: 15px;
}

.anime-image:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s;
    opacity: 100%;
}

.white-font{
    color: #F4EEE0;
}