.main{   
    background-color: #252A34;
    height: 100%;
    width: 100%;
}

.banner-image-container {
    height: 35vh;
    overflow: hidden;
  }
  
.banner-image {
    width: 100%;
    height: auto;
    opacity: 50%; 
    filter: brightness(60%) contrast(90%) blur(5px);
}

.info{
    display: absolute;
}

.upper-half{
  display: inline-flex;
  gap: 5vw;
  margin-right: 10vw;
  text-align: justify;
  text-justify: inter-word;
  height: 50vh;
  margin-bottom: -5vh;
}

.image-and-fav{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cover-image{
    margin-left: 10vw;
    margin-top: -20vh;
    position: relative;   
    border-radius: 23px;
    width: 13vw;
    height: 37vh;
    opacity: 100%;
}

.fav-button{
  padding: 1vh 0.5vw;
  margin-top: 3vh;
  width: 13vw;
  margin-left: 10vw;
  border-radius: 25px;
  border-color: transparent;
  background-color: #EAEAEA;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  font-family: 'Gill Sans MT';
}

.anime-details{
  padding-top: 2vh;
  text-align: justify;
  margin-bottom: 2vh;
}

.anime-details h1{
  font-weight: bold;
  color: #EAEAEA;
}

.genre{
  display: inline-flex;
  padding: 0.5vw;
  color: #d3d2d2;
  border-style: solid;
  border-radius: 8px;
  border-width: 0.2ch;
  margin-right: 1vw;
  margin-bottom: 2vh;
}

.description{
  color: #d3d2d2;
}

.bottom-half{
  color: #EAEAEA;
  margin-left: 10.5vw;
}

.character-container{
  display: grid;
  grid-template-columns: repeat(7, 11.4vw);
  margin-top: 5vh;
  grid-auto-rows: 24vw;
}

.character-card{
  color: #EAEAEA;
}

.character-image{
  width: 10vw;
  height: 26vh;
  border-radius: 25px;
  object-fit: cover;
}