.main{   
    background-color: #252A34;
    min-height: 100vh;
    max-width: 100%;
}

.banner-image-container {
    height: 35vh;
    overflow: hidden;
  }
  
.banner-image {
    width: 100%;
    height: auto;
    opacity: 50%; 
    filter: brightness(60%) contrast(90%) blur(5px);
}

.info{
    display: absolute;
}

.upper-half{
  display: inline-flex;
  gap: 5vw;
  margin-left: -24vw;
  margin-right: 10vw;
  height: 50vh;
  margin-bottom: -5vh;
  text-align: justify;
  text-justify: inter-word;
}

.image-and-fav{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 11vh;
}

.cover-image{
  margin-left: 34vw;
  margin-top: -20vh;
  position: relative;   
  border-radius: 23px;
  width: 13vw;
  height: 37vh;
  opacity: 100%;
}
  
.fav-container{
  position: relative;
  display: flex;
  align-items: center;
}


.fav-button{
  padding: 1vh 0.5vw;
  margin-top: 3vh;
  width: 13vw;
  margin-left: 34vw;
  border-color: transparent;
  border-radius: 25px;
  background-color: #EAEAEA;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  font-family: Verdana;
}

.red-button{
  transition: 0.5s;
  background-color: #FF2E63;
  color: #EAEAEA;
}

.red-button:hover{
  transition: 0.5s;
  background-color: #EAEAEA;
  color: #181b22;
}

.white-button{
  transition: 0.5s;
  background-color: #EAEAEA;
  color: #181b22;
}

.white-button:hover{
  transition: 0.5s;
  background-color: #FF2E63;
  color: #EAEAEA;
}


.anime-details{
  padding-top: 2vh;
  text-align: justify;
  margin-bottom: 2vh;
  margin-right: 61vh;
}

.anime-details h1{
  font-weight: bold;
  color: #EAEAEA;
}

.anime-info{
  display: flex;
  font-family: Verdana;
  color: #d3d2d2;
}

.left-info {
  flex: 1;
}

.right-info {
  flex: 1;
}

.anime-info div{
  margin-bottom: 1.8vh;
}

.anime-info h1{
  font-size: 21px;
}

.genre{
  display: inline-flex;
  padding: 0.5vw;
  color: #d3d2d2;
  border-style: solid;
  border-radius: 8px;
  border-width: 0.2ch;
  margin-right: 1vw;
  margin-bottom: 2vh;
}

.description-container{
  margin-left: 10vw;
  margin-right: 11vw;
  margin-bottom: 5vh;
  text-align: justify;
}

.description-container h1{
  margin-bottom: 1vh;
  color: #EAEAEA;
}

.description{
  color: #d3d2d2;
}

.bottom-half{
  color: #EAEAEA;
  margin-left: 10.5vw;
  margin-right: 8vw;
  padding-bottom: 10vh;
}

.bottom-half h1{
  margin-bottom: 3vh;
}

.character-container{
  display: grid;
  grid-template-columns: repeat(7, 11.4vw);
  margin-top: 5vh;
  grid-auto-rows: 38vh;
}

.character-card{
  width: 10vw;
  height: 28.5vh;
  position: relative;
  color: #EAEAEA;
  margin-bottom: 3vh;
  align-items: center;
}

.character-image{
  width: 100%;
  height: 100%;
  border-radius: 25px;
  object-fit: cover;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.gradient-character{
  position: absolute;
  width: 100%;
  height: 70%;
  top: 0;
  left: 0;
  transform: translateY(43%);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background: linear-gradient(rgba(255, 0, 0, 0), #181b22);
  opacity: 80%;
}

.name-box{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 10vw;
  padding: 0.5vw;
  bottom: 0;
  left: 0;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  font-size: 15px;
  text-align: center;
}

.swiper-scrollbar-drag{
  background-color: #EAEAEA !important;
}

.explore-container{
  margin: 0 5vw;
}

@media (max-width: 480px) {
  .banner-image-container {
    height: 11vh;
  }
  .banner-image {
    opacity: 100%; 
    filter: brightness(60%) contrast(90%) blur(1px);
  }
  .cover-image{
    width: 39vw;
    height: 28vh;
    margin-left: 4vw;
  }
  .image-and-fav{
    margin-top: 22vh;
    margin-left: 27vw;
  }
  .fav-button{
    width: 37vw;
    margin-left: 5vw;
  }
  .genre{
    font-size: 11px;
    padding: 0.8vw;
    margin-right: 4vw;
    border-width: 0.3ch;
  }
  .anime-details h1{
    font-size: 15px;
    text-align: left;
  }
  .description{
    font-size: 13px;
  }
  .description-container{
    margin-top: 1vh;
    margin-left: 7vw;
    margin-right: 7vw;
  }
  h1{
    font-size: 21px;
  }
  .anime-info{
    font-size: 13px;
  }
  .anime-info div{
    margin-bottom: 0.5vh;
  }
  .right-info h1{
    text-align: right;
  }
  .right-info{
    text-align: right;
  }
  .anime-details{
    margin-right: 0;
  }
  .bottom-half{
    margin-left: 7vw;
    margin-right: 7vw
  }
  .character-card{
    padding-left: 1vw;
    width: 27vw;
    height: 18vh;
  }
  .character-image{
    border-radius: 15px;
  }
  .gradient-character{
    width: 97%;
    margin-left: 1vw;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .name-box{
    font-size: 10px;
    margin-left: 9vw;
  }
  .explore-container{
    margin: 0;
    margin-top: -5vh;
    margin-left: 2vw;
  }
}